nav{
    margin-top: 20px;
    margin-bottom: 15px;
}
.navbar-nav{
    display: unset;
}
.nav-item{
    display: inline-block;
    margin-right: 20px;
}
.nav-item:last-child{
    margin-right: unset;
}
.nav-item .active{
    color: red;
    border-bottom: 2px solid deeppink;
}