<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="pull-right">
                    Total: <span class="badge badge-pill badge-warning">{{shops.length}}</span>
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-6" v-if="shops.length" v-for="shop in shops">
                <div class="panel">
                    <div class="panel-body">
                        <h5 class="card-title">{{shop.name}}</h5>
                        <img v-bind:src="shop.imageUrl" class="card-img-top" alt="...">
                        <p class="card-text">{{shop.description}}</p>

                        <div class="row">
                            <div class="col-3">
                                <span class="badge badge-dark">
                                    <i class="ion ion-md-pin"></i> {{shop.distance}} {{shop.metricUnit}}
                                </span>
                            </div>
                            <div class="col-9">
                                <span class="float-right">
                                    <a v-on:click="dislikeShop(shop)" class="btn btn-danger text-white" title="Dislike" data-toggle="tooltip">
                                        <i class="ion ion-md-thumbs-down"></i>
                                    </a>
                                    <a class="btn btn-success text-white" data-toggle="tooltip" title="Add to my preferred shops"
                                        v-on:click="likeShop(shop)">
                                        <i class="ion ion-md-heart"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p v-else><em>Loading...</em></p>
        </div>        
    </div>
</template>


<script src="./home.ts"></script>