<template>
    <main>
        <h1 class="text-center">
            <span><i class="ion ion-md-person"></i></span>
            <br />
            <span>User Account</span>
        </h1>
        <hr />
        <center>
            <h5>You are already logged in</h5>
            <br />
            <a href="/account/signout" class="btn btn-lg btn-dark">
                <i class="ion ion-md-log-out"></i> Sign Out
            </a>
        </center>
    </main>
</template>

<style src="./account.css" />