<template>
    <main>
        <h1 class="text-center">
            <span><i class="ion ion-md-person"></i></span>
            <br />
            <span>User Account</span>
        </h1>
        <hr />
        <center>
            <h5>You are already logged in</h5>
            <br />
            <a href="/account/signout" class="btn btn-lg btn-dark">
                <i class="ion ion-md-log-out"></i> Sign Out
            </a>
            <br/>
            <br/>
            <h6 v-if="disliked">
                <span class="h3"><i class="ion ion-md-alert"></i></span>
                 <br/>
                 <p>
                    {{disliked}} shops that you un-favourited are <b>hidden</b>. You will see them two hrs from the
                     time each one was disliked.
                 </p>
            </h6>
        </center>
    </main>
</template>

<style src="./account.css" />
<script src="./account.ts"></script>